{% set mainNavTop = craft.navigate.raw('headerNavigationTop') %}
{% set mainNavBot = craft.navigate.raw('headerNavigationBottom') %}

<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-links">
                <div class="footer-links__container">
                <a class="footer-links__title" href="{{ siteUrl }}" > {{ "dat vzw" }}</a>
            {% for node in mainNavTop %}
                    <a class="footer-links__children" href="{{ node.url }}" > {{ node.name }}</a>
            {% endfor %}
                </div>

            {% for node in mainNavBot %}
            <div class="footer-links__container">
                    <a class="footer-links__title" href="{{ node.url }}" > {{ node.name }}</a>
                {% for node in node.children %}
                    <a class="footer-links__children" href="{{ node.url }}" > {{ node.name }}</a>
                {% endfor %}
            </div>   
            {% endfor %}
        </div>

        <div class="footer-contact">
            <a href="{{siteUrl}}">{{svg('@webroot/assets/Logo.svg')}}</a>

            <div class="footer-contact-wrapper">
                <div class="footer-contact__centrum">
                    <div>
                        <p>{{contactinfoAarschot.straatNummer}}</p>
                        <p>{{contactinfoAarschot.postcode ~ " " ~ contactinfoAarschot.gemeente}}</p>
                    </div>
                    <div>
                        <a href="tel:{{ contactinfoAarschot.telefoonnummer }}">{{contactinfoAarschot.telefoonnummer}}</a>
                        <a href="mailto:{{ contactinfoAarschot.email }}">{{contactinfoAarschot.email}}</a>
                    </div>
                </div>

                <div class="footer-contact__centrum">
                    <div>
                        <p>{{contactinfoTienen.straatNummer}}</p>
                        <p>{{contactinfoTienen.postcode ~ " " ~ contactinfoTienen.gemeente}}</p>
                    </div>
                    <div>
                        <a href="tel:{{ contactinfoTienen.telefoonnummer }}">{{contactinfoTienen.telefoonnummer}}</a>
                        <a href="mailto:{{ contactinfoTienen.email }}">{{contactinfoTienen.email}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <p><span>PXL DVOA</span> takes care of this</p>
            <p>Privacybeleid & Cookiebeleid</p>
            <p>BE 0891 234 567</p>
        </div>
    </div>
</footer>



