{% set mainNavTop = craft.navigate.raw('headerNavigationTop') %}
{% set mainNavBot = craft.navigate.raw('headerNavigationBottom') %}

<header class="header">
    <section class="header-topmenu">
        <nav>
            <ul class="header-topmenu__list">
                {% for node in mainNavTop %}
                    <li class="header-topmenu__listitem">
                        <a href="{{ node.url }}" > {{ node.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>
    <section class="header-mainmenu">
        <nav>
            <a href="{{siteUrl}}">{{svg('@webroot/assets/Logo.svg')}}</a>
            <ul class="header-mainmenu__list">
                {% for node in mainNavBot %}
                    <li class="header-mainmenu__listitem">
                        <a href="{{ node.url }}" > {{ node.name }}</a>
                        <div class="submenu">
                            <ul class="submenu__container">
                            {% for node in node.children %}
                                <li class="submenu__navitem">
                                    <a href="{{ node.url }}" > {{ node.name }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                <li class="header-mainmenu__listitem">
                    <a class="btn btn--primary" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </section>
</header>