{# <div class="card">
    <img src="{{ card.image.one().url }}"/>  
    <h4 class="card__title">{{ card.cardtitle }}</h4>
    <button class="card__link btn btn--secondary" href=>{{card.cardbuttontext}}</button>
</div> #}

{# {{d(card.image.one())}} #}
<div class="card">
    <img src="{{ card.cardImage }}"/>   {# cardimage --> handle voor assets in een card #}
    <h4 class="card__title">{{ card.cardTitle }}</h4>
    <button class="card__link btn btn--secondary" href=>{{card.cardButtonText}}</button>
</div>