{# <div class="card">
    <img src="{{ card.image.one().url }}"/>  
    <h4 class="card__title">{{ card.cardtitle }}</h4>
    <button class="card__link btn btn--secondary" href=>{{card.cardbuttontext}}</button>
</div> #}

{# {{d(card.image.one())}} #}


<div class="card">
    <img class="card__img" src="{{ card.cardimage.one().url }}"/>
    <h4 class="card__title">{{ card.cardTitle }}</h4>
    <a class="card__link btn btn--secondary" href="{{ card.getUrl() }}">{{card.cardButtonText}}</a>
</div>