{% if correctLink is defined %}
    {% set linkto = correctLink|slice(0, -1)|join("-") %}
{% endif %}


<div class="card">
    {% if card.cardimage.one() %}
        <img class="card__img" src="{{ card.cardimage.one().url }}"/>
    {% endif %}
        <h4 class="card__title">{{ card.cardTitle }}</h4>

    {% if linkto is defined %}
        <a class="card__link btn btn--secondary" href="{{ linkto }}">{{card.cardButtonText}}</a>
    {% else %}
        <a class="card__link btn btn--secondary" href="{{ card.getUrl() }}">{{card.cardButtonText}}</a>
    {% endif %}
</div>