{% extends "_layout.twig" %}

{% block content %}
<section class="contact">
    <h1 class="contact__title">{{ entry.title }}</h1>

    {% set centrums = craft.entries.section("contact") %}
    {% for centrum in centrums %}
    <div class="centrum">
        <h2 class="centrum__title">{{centrum.title}}</h2>
        <div class="centrum__info">{{centrum.contactinfo}}</div>
        <a class="btn btn--primary" href="{{ centrum.getUrl() }}">{{"Contacteer"}}</a>
    </div>
    {% endfor %}
</section>

{% endblock content %}